#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_SAME70_BRCG2

config BRCG2_ADM2483_USART
	bool "ADM2483 Transciever support"
	default y
	---help---
	  Enables output from ADM2483 Transciever (USART to RS-485).

endif # ARCH_BOARD_SAME70_BRCG2
